/* Global text sanity reset */

html,
body {
  margin: 0;
  padding: 0;
  text-align: left;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: inherit;
  word-spacing: normal;
  letter-spacing: normal;
}